*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
body {
    color: #ededed;
    background: #081b29;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover{
    color: #0ef;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(https://e0.pxfuel.com/wallpapers/868/58/desktop-wallpaper-blue-navy-cool-blue-color.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    align-items: center;
    float: left;
    margin: 5px;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 :nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: #0ef;
}
.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var (--i));
    margin: 30px 15px 30px 0;
}

.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box {
    display: inline-block;
    padding: 12px 20px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef

}

.btn-box:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan , 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan 
}

.home-content .btn-box {
    align-self: flex-end;
}

.home-content img {
    border-radius: 50%;
    position: absolute;
    right: -400px;
    top: 50%; /* Geser gambar ke tengah vertikal */
    transform: translateY(-50%); /* Untuk menyelaraskan gambar tepat di tengah vertikal */
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.experience {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(https://e0.pxfuel.com/wallpapers/868/58/desktop-wallpaper-blue-navy-cool-blue-color.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    align-items: center;
    float: left;
    margin: 5px;
    padding: 70px 10% 0;
}

.ex-text h2 {
    font-size: 60px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.ex-text h2 span {
    color: #0ef;
}

.ex-text h3 {
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var (--i));
}

.ex-text h4 {
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin-bottom: 15px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 2s;
}

.ex-text p {
    opacity: 0;
    animation: slideLeft 5s ease forwards;
    animation-delay: calc(.2s * var (--i));
}

.education {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(https://e0.pxfuel.com/wallpapers/868/58/desktop-wallpaper-blue-navy-cool-blue-color.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    align-items: center;
    float: left;
    margin: 5px;
    padding: 70px 10% 0;
}
.edu-text h2 {
    font-size: 60px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 2s;
}
.edu-text h2 span {
    color: #0ef;
}
.edu-text h3 {
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var (--i));
}


.edu-text p {
    opacity: 0;
    animation: slideTop 5s ease forwards;
    animation-delay: calc(.2s * var (--i));
}

.sub-title {
    text-align: left;
    font-size: 60px;
    padding-bottom: 70px;
    margin-left: 130px;
}
.sub-title span {
    color: #0ef;
}


section {
    display: flex;
    flex-wrap: wrap;
}

.container1 {
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container1 .heading1 {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 30px; /* Mengurangi margin bawah */
}

.container1 .bar {
    font-size: 23px;
    margin-top: 40px; /* Jarak antara setiap bar */
}

.container1 .technical-bars .bar:first-child {
    margin-top: 0;
}


.container1 h1 {
    margin-top: -20px;
}

.heading1 {
    padding: 0;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.bar {
    font-size: 23px;

}
.technical-bars .bar {
    margin-top: 40px 0;

}
.technical-bars .bar:first-child {
    margin-top: 0;
}
.technical-bars .bar:last-child {
    margin-bottom: 0;
}
.technical-bars .bar .info { 
    margin-bottom: 5px;
}
.technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.technical-bars .bar .proggres-line {  
    position: relative;
    border-radius: 10px;
    width: 100% ;
    height: 5px;
    background-color: #000;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}
.technical-bars .bar .proggres-line span {
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.proggres-line.html span {
    width: 90%;
}
.proggres-line.css span {
    width: 75%;
}
.proggres-line.javascript span {
    width: 30%;
}

.proggres-line  span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -20px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.proggres-line.html span::after {
    content: 90%;
}
.proggres-line.css span::after {
    content: 75%;
}
.proggres-line.javascript span::after {
    content: 30%;
}

.proggres-line .span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0; 
}
@keyframes showText{
    100%{
        opacity: 1;
    }
}
.radial-bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.radial-bars .radial-bar {
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}

.radial-bars .radial-bar svg{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

.radial-bars .radial-bar .proggres-bar {
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation:  animate-bar 1s  linear forwards;

}

@keyframes animate-bar {
    100%{
        stroke-dashoffset: -1;
    }
}
.path {
    stroke-width: 10;
    stroke: #0ef;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;

}
.path-1{animation: animate-path1 1s 1s linear forwards;}
.path-2{animation: animate-path2 1s 1s linear forwards;}
.path-3{animation: animate-path3 1s 1s linear forwards;}
.path-4{animation: animate-path4 1s 1s linear forwards;}

@keyframes animate-path1{
    100% {
        stroke-dashoffset: 50;;
    }
}
@keyframes animate-path2{
    100% {
        stroke-dashoffset: 175;;
    }
}
@keyframes animate-path3{
    100% {
        stroke-dashoffset: 125;;
    }
}
@keyframes animate-path4{
    100% {
        stroke-dashoffset: 75;;
    }
}

.radial-bar .percetage{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.radial-bar .text {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}








@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% { 
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% { 
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% { 
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% { 
        transform: translateY(0px);
        opacity: 1;
    }
}